DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_application_client_id_here
DISCORD_GUILD_ID=your_server_id_here
DISCORD_CHANNEL_ID=your_channel_id_here
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here
MERGED_REACTION=emoji_id_for_merged
COMMENT_REACTION=emoji_id_for_speech_left
CLOSED_REACTION=emoji_id_or_unicode_for_closed
PR_PING_ROLE=role_id_to_ping_on_new_pr
CONFIG_ROLE=role_id_for_who_can_use_slash_commands
PORT=3000
